azure-ai-documentintelligence==1.0.0b4
azure-cognitiveservices-speech==1.41.1
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.0
openai==1.55.1
reflex==0.6.4
reflex-chakra==0.6.2
reflex-hosting-cli==0.1.15
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rpds-py==0.20.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.27.1
sentence-transformers==3.3.1
urllib3==1.26.20
youtube-transcript-api==0.6.3

